- @notebooks.each do |notebook|
  %li.notebook
    = link_to notebook.title, notebook
    %ul
      %li= link_to 'Edit', edit_notebook_path(notebook)
      %li= link_to 'Delete', notebook, :method => :delete, :data => { :confirm => 'Are you sure?' }
